*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
}


/* LEFT CONTAINER */ 


header {
    width: 22%;
    height: 100%;
    position: fixed;
    float: left;
    display: flex;
    justify-content: center;
    background-color: white;
}

.left-container {
    margin-top: 30px;
    width: 70%;
    height: 100%;
    
}

/* LOGO */

h1 {
    text-align: left;
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: 900;
}

#cafe {
    margin-top: 10px;
}

/* Nav */

label, #toggle {
    display: none;
}

nav {
    width: fit-content;
    margin-top: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

nav a {
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-weight: 100;
    padding-top: 30px;
    letter-spacing: 3px;
}


#home {
    width: fit-content;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 2px solid black;
    
}

/* SOCIAL MEDIA ICONS */

.icons {
    margin-top: 30px;
}

.icons ul {
    display: flex;
    flex-direction: row;
}

.icons ul li {
    list-style: none;
    margin-right: 25px;
    
}

.icons ul li a {
    height: 4px;
    width: 4px;
    color: black;
}


/* TEXT */

p {
    margin-top: 25px;
    font-size: 10.8px;
    font-weight: 200;
    letter-spacing: 1.3px;
    line-height: 25px;
}

/* OPENING TIMES */

.opening-times {
    margin-top: 40px;
}

h5{
    font-size: 12px;
    letter-spacing: 5px;
    font-weight: 700;
}

.opening-times ul {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.opening-times ul li {
    list-style: none;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 20px;
}


/* RIGHT CONTAINER */


main {
    width: 78%;
    float: right;
    background-color: white;

}

.right-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.box {
    height: 500px;
    width: 480px;
    bottom: 100px;
    margin: 5px;
    background-color: whitesmoke;
}

#box1 {
    background-image: url(images/bread-slice.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#box2 {
    background-image: url(images/bunshine.jpg);
    background-size: cover;
    background-position: center;
}

#box3 {
    background-image: url(images/grains.jpg);
    background-size: cover;
    background-position: center;
}

#box4 {
    background-image: url(images/coffee-bread.jpg);
    background-size: cover;
    background-position: center;
}

#box5 {
    background-image: url(images/pasta.jpg);
    background-size: cover;
    background-position: center;
}

#box6 {
    background-image: url(images/herbs.jpg);
    background-size: cover;
    background-position: center;
}

#box7 {
    background-image: url(images/flour.jpg);
    background-size: cover;
    background-position: center;
}

#box8 {
    background-image: url(images/bread.jpg);
    background-size: cover;
    background-position: center;
}



/* Mobile Device */


@media only screen and (max-width: 748px) {

    body, html {
        overflow-x: hidden;
        margin-left: 5px;
        margin-right: 5px;
    }

    header {
        float: none;
        width: 100%;
        position: relative;
        height: fit-content;
        margin-top: 10px;
    }

        .left-container{
            height: fit-content;
            width: 90%;
            margin-left: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

            .opening-times, .signature, nav a, .icons{
                display: none;
            }

            h1{
                width: fit-content;
            }

            .top-bar {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
            }

            nav {
                margin: 0;
                padding: 0;
                height: fit-content;
                width: fit-content;
            }

            label {
                font-size: 40px;
                display: block;
                cursor: pointer;
            }
 

            #toggle {
                display: none;
            }

            #toggle:checked +  a {
                display: block;
                
            }


            p {
                font-size: 12px;
            }



    main {
        float: none;
        width: 100%;
    }

        .right-container {
            margin-top: 20px;
        }

        .box {
            width: 380;
            height: 400px;
        }



}